# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# =========================
# Virtual Environment
# =========================
venv/
.env/
.envrc

# =========================
# SQLite Database
# =========================
*.db
*.sqlite3
/database/*.db

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Secrets / Environment
# =========================
.env